<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/294d58ab2a.js" crossorigin="anonymous"></script>
  </head>
  <body class="body">
    <!-- Header -->
    <header class="home__header">
      <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" />
      <input type="text" placeholder="Buscar productos, marcas">
      <p> <i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de crédito</p>
      <nav class="home__header__nav1">
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
      </nav>
      <nav class="home__header__nav2">
        <ul>
          <li><a href="">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
          <li><a href="">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
          <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
      </nav>
      <button class="home__header--burger">
        <i class="fas fa-bars"></i>
      </button>
    </header>
    <!-- Body -->
    <main class="home__main">
      <img class="home__main--banner" src="/images/img-home-banner.jpg" alt="" width="100%" />
      <section class="home__main__UltimaVisita">
        <!-- seccion ultima visita -->
        <h3 class="Titular">Basado en tu última visita</h3>
          <!-- Cafetera -->        
        <article class="home__main__article">
          <img src="/images/img-cafetera-moulinex.jpg" alt="" width="320" />
          <div>
          <i class="fa-solid fa-truck"></i>
          <h5 class="precio">$6.770</h5>
          <h5 class="descuesto">40% off</h5>
          <h4 class="descripcion">Cafetera Moulinex</h4>            
          </div>
        </article>
          <!-- macbook -->
        <article class="home__main__article">
          <img src="/images/img-macbook-pro-2019.jpg" alt="" width="320" />
          <div>
          <i class="fa-solid fa-truck"></i>
          <h5 class="precio">$230.000</h5>
          <h5 class="descuesto">20% off</h5>
          <h4 class="descripcion">MacBook Pro 2019</h4>            
          </div>
        </article>
          <!-- samsung galaxy -->
        <article class="home__main__article">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="320" />
          <div>
          <i class="fa-solid fa-truck"></i>
          <h5 class="precio">$70.500</h5>
          <h5 class="descuesto">10% off</h5>
          <h4 class="descripcion">Samsung Galaxy S10</h4>            
          </div>
        </article>
          <!-- smart tv -->
        <article class="home__main__article">
          <img src="/images/img-tv-samsung-smart.jpg" alt="" width="320" />
          <div>
          <i class="fa-solid fa-truck"></i>
          <h5 class="precio">$23.200</h5>
          <h5 class="descuesto">5% off</h5>
          <h4 class="descripcion">SmartTv Samsung 43"</h4>            
          </div>
        </article>
      </section>
      <section class="home__main__Ofertas">
        <!-- seccion Ofertas -->
        <h3 class="Titular">Ofertas</h3>
          <!-- Cafetera -->        
          <article class="home__main__article">
            <img src="/images/img-cafetera-moulinex.jpg" alt="" width="320" />
            <div>
            <i class="fa-solid fa-truck"></i>
            <h5 class="precio">$6.770</h5>
            <h5 class="descuesto">40% off</h5>
            <h4 class="descripcion">Cafetera Moulinex</h4>   
            </div>
          </article>
            <!-- macbook -->
          <article class="home__main__article">
            <img src="/images/img-macbook-pro-2019.jpg" alt="" width="320" />
            <div>
            <i class="fa-solid fa-truck"></i>
            <h5 class="precio">$230.000</h5>
            <h5 class="descuesto">20% off</h5>
            <h4 class="descripcion">MacBook Pro 2019</h4>
            </div>
          </article>
            <!-- samsung galaxy -->
          <article class="home__main__article">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="320" />
            <div>
            <i class="fa-solid fa-truck"></i>
            <h5 class="precio">$70.500</h5>
            <h5 class="descuesto">10% off</h5>
            <h4 class="descripcion">Samsung Galaxy S10</h4>              
            </div>
          </article>
            <!-- smart tv -->
          <article class="home__main__article">
            <img src="/images/img-tv-samsung-smart.jpg" alt="" width="320" />
            <div>
            <i class="fa-solid fa-truck"></i>
            <h5 class="precio">$23.200</h5>
            <h5 class="descuesto">5% off</h5>
            <h4 class="descripcion">SmartTv Samsung 43"</h4>              
            </div>
          </article>
      </section>
    </main>
    <!-- Footer -->
    <footer class="home__footer">
      <article>
        <i class="fa-solid fa-credit-card"></i>
        <h4 class="Titular">Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>
      <article>
        <i class="fa-solid fa-gift"></i>
        <h4 class="Titular">Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>
      <article>
        <i class="fa-solid fa-user-shield"></i>
        <h4 class="Titular">Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </article>
      <article>
        <h4 class="Titular">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
      </article>
    </footer>
  </body>
</html>
