<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Home</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <p>Lugar para barra de busqueda</p>
        <p>Compra en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="" width="100%">
        <section><!-- seccion ultima visita -->
            <h3>Basado en tu última visita</h3>
            <article><!-- Cafetera -->
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="320">
                <h5>$6.770</h5>
                <h5>40% off</h5>
                <h4><strong>Cafetera Moulinex</strong></h4>
            </article>
            <article><!-- macbook -->
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="320">
                <h5>$230.000</h5>
                <h5>20% off</h5>
                <h4><strong>MacBook Pro 2019</strong></h4>
            </article>
            <article><!-- samsung galaxy -->
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="320">
                <h5>$70.500</h5>
                <h5>10% off</h5>
                <h4><strong>Samsung Galaxy S10</strong></h4>
            </article>
            <article><!-- smart tv -->
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="320">
                <h5>$23.200</h5>
                <h5>5% off</h5>
                <h4><strong>SmartTv Samsung 43"</strong></h4>
            </article>
        </section>
        <section><!-- seccion Ofertas -->
            <h3>Ofertas</h3>
            <article><!-- Cafetera -->
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="320">
                <h5>$6.770</h5>
                <h5>40% off</h5>
                <h4><strong>Cafetera Moulinex</strong></h4>
            </article>
            <article><!-- macbook -->
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="320">
                <h5>$230.000</h5>
                <h5>20% off</h5>
                <h4><strong>MacBook Pro 2019</strong></h4>
            </article>
            <article><!-- samsung galaxy -->
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="320">
                <h5>$70.500</h5>
                <h5>10% off</h5>
                <h4><strong>Samsung Galaxy S10</strong></h4>
            </article>
            <article><!-- smart tv -->
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="320">
                <h5>$23.200</h5>
                <h5>5% off</h5>
                <h4><strong>SmartTv Samsung 43"</strong></h4>
            </article>
        </section>
    </main>
    <footer>
        <article>
            <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <h4><strong>Envío gratis desde $ 2.500</strong></h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <h4><strong>Seguridad, de principio a fin</strong></h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <article>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </article>
    </footer>
</body>
</html>