body{
    font-family: var(--TipografiaGeneral);
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.Titular{
    font-size: var(--TamañoTitulares);
}

.precio{
font-size: var(--TamañoPrecios);
}

.descuesto{

    font-size: var(--TamañoDescuentos);
}

.descripcion{
    font-size: var(--TamañoDescripciones);
}