/* Mobile first */

body{
    font-family: var(--TipografiaGeneral);
    margin: 0;
    background-color: var(--ColorGrisClaro);
}

ul{
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.Titular{
    font-size: var(--TamañoTitulares);
}

.precio{
font-size: var(--TamañoPrecios);
margin: 0;
}

.descuesto{
    font-size: var(--TamañoDescuentos);
    margin: 0;
    color: var(--ColorVerde);
}

.descripcion{
    font-size: var(--TamañoDescripciones);
    color: var(--ColorGrisOscuro);
    display: none;
}

/* Tablet min width 361px */

@media (min-width:361px) {
    .descripcion{
        display: block;
    }
}

/* Desktop min width 769px*/