/* Mobile first */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: var(--TipografiaGeneral);
    background-color: var(--ColorGrisClaro);
}

ul{
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    display: inline-block;
}

.Titular{
    font-size: var(--TamañoTitulares);
    width: 100%;
}

.precio{
font-size: var(--TamañoPrecios);
margin: 0;
display: inline-block;
width: 30%;
padding: auto;
}

.descuesto{
    font-size: var(--TamañoDescuentos);
    margin: 0;
    color: var(--ColorVerde);
    display: inline-block;
    width: 70%;
    padding: auto;
}

.descripcion{
    font-size: var(--TamañoDescripciones);
    color: var(--ColorGrisOscuro);
    display: none;
}

/* Tablet min width 361px */

@media (min-width:361px) {
    .descripcion{
        display: block;
        width: 100%;
        margin-top: 20px;
    }
}

/* Desktop min width 769px*/