/* Mobile First */

.home__header{
    background-color: var(--ColorAmarillo);
    background-size: cover;
    font-size: var(--TamañoCuerposTexto);
    padding: 10px;
}

.home__header__nav1{
    display: none;
}

.home__header__nav2{
    display: none;
}

.home__header--burger{
    background-color: var(--ColorCeleste);
    color: var(--ColorGrisClaro);
    font-size: var(--TamañoTitulares);
    display: block;
    text-align: center;
    margin: auto auto;
    padding: 10px;
    border: 1px solid var(--ColorAzul);
    border-radius: 6px;
    max-width: 34px;
}

.home__main{
/*     padding: 10px; */
    width: 90%;
/*     background-color: var(--ColorGrisClaro); */
    margin: 0 auto;
}

.home__main--banner{
    width: 100%;
}

/* .home__main__UltimaVisita{

} */

/* .home__main__Ofertas{

} */

.home__main__article{
    margin-bottom: 10px;
}

.home__main__article img{
width: 100%;
}

.home__main__article div{
    background-color: white;
    border-top: 1px solid var(--ColorGrisClaro);
    padding: 0 15px;
    margin: 0;
}

.home__main__article div i{
    color: var( --ColorVerde);
    border: 1px solid var(--ColorVerde);
    border-radius: 50%;
    padding: 8px;
}

.home__footer{
    text-align: center;
    padding: 10px;
}

.home__footer h4{
    margin-top: 0;
}

.fa-credit-card{
    font-size: var(--tamañoicono);
    color: var(--ColorCeleste);
    margin-bottom: var(--margenicono);
}

.fa-gift{
    font-size: var(--tamañoicono);
    color: var(--ColorCeleste);
    margin-bottom: var(--margenicono);
}

.fa-user-shield{
    font-size: var(--tamañoicono);
    color: var(--ColorCeleste);
    margin-bottom: var(--margenicono);
}

/* Tablet  min width 361px*/

@media (min-width:361px) {
    .home__main__article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home__header__nav1{
        display: block;
    }
    
    .home__header__nav2{
        display: block;
    }

    .home__header--burger{
        display: none;
    }
}

/* Desktop min width 769px*/